// main: ../app.less

.card-style {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170,170,170,0.25);
}

.elements {
    ul {
        font-size: 0;

        li {
            &:extend(.card-style);
            .column(12);
            margin-bottom: 1rem;
            transition: background 0.15s, border 0.15s;
            transition-timing-function: ease-in-out;

            line-height: 1.5;
            border: 1px solid transparent;

            &:hover {
                background: lighten(@cinderblock, 12%);
                border: 1px solid lighten(@cinderblock, 6%);
            }
        }
    }

    .controls {
        .column(12);
        .font-size(20px);
        margin-bottom: 0.5rem;

        span {
            margin-right: 0.25rem;
        }
    }

    .information {
        h1 {
            color: @primary;
            font-size: 1rem;
            line-height: 1.25;
            margin-top: 0;
        }
    }

    &.grid li {
        @media screen and (min-width: 600px) {
            .column(6);
            margin-bottom: 1rem;
        }

        @media screen and (min-width: 1000px) {
            .column(3);
            margin-bottom: 1.5rem;
        }
    }

    &.list ul {
        .column(12);

        li {
            margin: 0 0 1rem 0;
            width: 100%;

            h1 {
                margin: 0;
            }

            div {
                margin: 0;
                padding: 0;
                border: none;
            }

            @media screen and (min-width: 600px) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .progress {
        .font-size(13px);
        display: flex;
        padding: 0.5rem 0 0;
        border-top: 1px solid #eee;
        margin-top: 1rem;
        justify-content: space-between;

        .background {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 60px;
            height: 4px;
            border-radius: 2px;
            overflow: hidden;
            background: @cinderblock;
            margin-right: 0.5rem;

            span {
                position: absolute;
                height: 100%;
                background: @primary;
            }
        }

        .complete span {
            margin: 0 10px;
            color: @primary;
        }
    }
}
