
// Normalize & Reset
@import (inline) "thirdparty/normalize/normalize.css";

// Variables & mixins
@import "_variables.less";
@import "mixins/_mixins.less";

// Base styles & Layout
// _layout.less
@import "thirdparty/semantic-grid/grid.less";
// nav.less

// Components
@import "components/_accordian.less";
@import "components/_modal.less";

// Page styles
//@import "views/...";

// Misc
// _Accessibility.less
//



@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("http://weloveiconfonts.com/api/?family=entypo");


/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

@primary-text-color: #000;
@secondary-text-color: #A1A1A4;
@theme-color: #DA4051;

* {
    box-sizing: border-box;
}

body {
    background: #dfdfdf;
}

.main {
    background: #f5f5f5;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;

    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255,0.004);
    font-size: 100%;
    font-weight: 400;
    line-height: 1.25;
    color: dimgray;
}

.toggler {
    color: @secondary-text-color;
    font-size: 1.25em;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;

    &.active {
        color: @primary-text-color;
    }
}

header {
    font: 600 20px/1 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    background: darken(@theme-color, 10%);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    @media screen and (min-width: 900px) {
        margin-bottom: 2rem;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-style {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;

    background: white;
    box-shadow: 0 2px 1px rgba(170,170,170,0.25);
}

.element {
    &:extend(.card-style);
    line-height: 1.5;
}

.content {
    transition: 0.25ms
}

.element-name {
    font-weight: 400;
}

.list {
    .element {
        position: relative;
        padding: 0;

        font-size: 14px;
        line-height: 40px;

        .pull-right {
            position: absolute;
            right: 0;
            top: 0;
        }

        @media screen and (max-width: 800px) {
            .stage:not(.active) {
                display: none;
            }
        }

        @media screen and (max-width: 700px) {
            .element-progress-bg {
                display: none;
            }
        }

        @media screen and (max-width: 600px) {
            .pull-right {
                position: static;
                line-height: 20px;
                padding-bottom: 10px;
            }
        }
    }

    .element-type,
    .element-progress,
    .element-completes,
    .element-end-date {
        color: @secondary-text-color;
    }

    .element-type,
    .element-completes,
    .element-end-date,
    .element-name,
    .element-stage {
        margin: 0 10px;
    }

    .element-type {
        margin-right: 0;
    }

    .element-end-date,
    .element-completes,
    .element-type,
    .element-name {
        vertical-align: middle;

    }

    .element-end-date {
        display: inline-block;
        width: 100px;
        white-space: nowrap;

        overflow: hidden;
    }
}

.element-stage .stage {
    display: inline-block;
    vertical-align: middle;

    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;

    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;

    &.active {
        background: @secondary-text-color;
    }
}


// list toggle
.list {
    .list-only {
        display: auto;
    }
    .grid-only {
        display: none !important;
    }
}


// grid toggle
.grid {
    .grid-only {
        display: auto;
    }
    .list-only {
        display: none !important;
    }
}

//grid element
.grid {

    @media screen and (min-width: 900px) {
        display: flex;
        flex-basis: 0;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .element {
        flex: 0 1 auto;
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 165px;
        margin: 10px 20px 0;
        display: block;
        height: 150px;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (min-width: 900px) {
            margin-left: 1rem;
            &:first-child {
                margin-left: 0;
            }
        }

        @media screen and (min-width: 900px) {
            flex: 2;
        }
    }

    .element-name {
        display: block;
        color: @theme-color;
        font-size: 16px;
        line-height: 1.25;
    }

    .element-type {
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
    }

    .element-type,
    .element-end-date {
        color: @secondary-text-color;
    }

    .element-end-date {
        &:before {
            content: 'Ends\00a0';
        }

        &.ended:before {
            content: 'Ended\00a0';
        }
    }

    .element-progress {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        border-top: 1px solid #eee;
        font-size: 13px;
    }

    .element-progress-bg {
        width: 40%;
        display: block;

        @media screen and (max-width: 200px) {
            display: none;
        }
    }

    .element-progress-labels {
        position: absolute;
        right: 20px;
        top: 0;
        line-height: 40px;

        @media screen and (max-width: 200px) {
            right: auto;
            left: 10px;
        }
    }

    .element-progress-label {
        line-height: 21px;
        font-size: 13px;
        font-weight: 400;
    }

    .element-completes {
        line-height: 21px;
        font-size: 13px;
        vertical-align: middle;
    }

    .element-stage {
        position: absolute;
        top: 20px;
        right: 20px;

        .stage {
            display: none;
        }

        .active {
            display: block;
        }
    }

    .element-end-date {
        font-size: 12px;
        line-height: 20px;
    }
}


// Progress
.element-progress-label {
    vertical-align: middle;
    margin: 0 10px;
    color: @theme-color;
}

.element-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
}

.element-progress-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    background: @theme-color;
}
